.populares{
    padding: 3rem 0;
}

.populares__conteudo{
    grid-area: conteudo;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.populares__card{
    display: grid;
    grid-template-areas:
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
    background: #fdfdfd;
    margin-right: 1rem;
    width: calc(20% - 1rem);
}

.populares__card___imagem{
    width: 100%;
    height: 100%;
    grid-area: card-imagem;
}

.populares__card___corpo{
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas:
    "card-cabecalho"
    "card-conteudo";
    grid-template-rows: 50px auto;
    padding: .75rem;
}

.populares__card___cabecalho{
    grid-area: card-cabecalho;
}

.populares__card___titulo{
    font-size: 1rem;
}

.populares__card___descricao{
    grid-area: card-conteudo;
}